@media print {
  header svg {
    display: none !important;
  }
  thead {
    display: table-header-group;
  }

  tbody td {
    border: 1px solid #ccc !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  div.no,
  div.yes,
  div.partial {
    -webkit-print-color-adjust: exact;
  }

  .section-header a,
  table td a img,
  footer .float-right {
    display: none !important;
    opacity: 0;
  }
}
